html{
  font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'PT Sans', sans-serif;
font-family: 'Roboto', sans-serif;
}
.page{
  width: 100vw;
  height: 100vh;
}
header{
  height: 90px;
  width: 100%;
  
}
nav ul li{
  list-style: none;
}

.debug{
  border: 1px solid red;
  background-color: aquamarine;
}

.debug2{
  border: 1px solid green;
  background-color: salmon;
}
.debug3{
  border: 1px solid rgb(0, 0, 0);
  background-color: rgb(230, 250, 114);
}


.h{
  height: 500px;
}

.bg-blu{
  background-color: rgb(72, 72, 236);
}
/* qui iniziano gli stili specifici degli elementi */

.side-menu{
  height: calc(100vh - 90px);
  width: 80px;
}

.content{
  width: 100%;
}



.side-settings{
  position: absolute;
  bottom: 0;
  left: 0;
}

.desk-menu{
  display: none;
}





/* qui iniziano le media query */

@media screen and (min-width:992px) {
  .side-menu{
    width: 180px;
  }
  .desk-menu{
    display: block;
  }
}