html{
  font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'PT Sans', sans-serif;
font-family: 'Roboto', sans-serif;
}
header{
  height: 110px;
  width: 100%;
  position: fixed;
  z-index: 999;
  top: 0;
}
.page{
  height: 100vh;
  width: 100vw;
}
main{
  width: 100vw;
}
.debug{
  border: 1px solid red;
  background-color: aquamarine;
}

.debug2{
  border: 1px solid green;
  background-color: salmon;
}
.debug3{
  border: 1px solid rgb(0, 0, 0);
  background-color: rgb(230, 250, 114);
}


.h{
  height: 500px;
}

.bg-blu{
  background-color: rgb(72, 72, 236);
}
/* qui iniziano gli stili specifici degli elementi */


.main-wrapper{
  height: calc(100% - 90px);
  width: 100vw;
}


.container-fluid{
  height: 90px;
}

.side-menu{
  height: calc(100vh - 90px);
  width: 80px;
}

.ev-jumbo{
  width: calc(100vw - 80px);
}

.loghino{
  height: 60px;
  margin: 10px;
}


.logo{
  display: none;
}


/* qui iniziano le media query */

@media screen and (min-width:1200px)  {
  .loghino{
    display: none;
  }
  .logo{
    display: block;
    margin-top: 30px;
  }
}