html{
  font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'PT Sans', sans-serif;
font-family: 'Roboto', sans-serif;
}

.debug{
  border: 1px solid red;
  background-color: aquamarine;
}

.debug2{
  border: 1px solid green;
  background-color: salmon;
}

.h{
  height: 500px;
}


/* qui iniziano gli stili specifici degli elementi */


.main-wrapper{
  height: calc(100% - 90px);
  width: 100vw;
}


.container-fluid{
  height: 90px;
}

.side-menu{
  height: calc(100vh - 90px);
  width: 80px;
}

.ev-jumbo{
  width: calc(100vw - 80px);
  height: 200px;
}